{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
    .container-fluid {
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    .container-fluid::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
    .tableFixHead {
      overflow-y: auto; 
      height: 500px;
    }
    .tableFixHead thead th {
      position: sticky; 
      top: 0px; 
    }
    table {
      width: 100%;
    }
    th,td {
      text-align: left;
      color: white;
    }
    table, tr, td {
        border: none;
    }

    .allow-border{
        border-bottom: 1pt dotted white;
    }

    .dropdown-item:hover{
        background-color: white;
    }

  </style>

  <script>
        function display() {
        window.print();
    }

    function exportToPDF(){
        var content = document.getElementById('pdfdiv');
        html2pdf()
        .from(content)
        .save('report.pdf')
    }

    // Function to save Excel using XLSX
    function exportToExcel() {
        var table = document.querySelector('table');
        var ws = XLSX.utils.table_to_sheet(table);
        var wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
        XLSX.writeFile(wb, 'report.xlsx');
    }
  </script>

<div class="container-fluid ">
    <div class="row topbar">
        <div class="col-md-2">
            <select id="myselection">
                <option>Select Option</option>
                <option value="One">One</option>
                <option value="Two">Two</option>
                <option value="Three">Three</option>
            </select>
        </div>
         <div class="col-md-7">
            <div class="logo"><img src="" alt=""><a href="{% url 'load_customize_report_bs' %}"><i class="fa fa-cog">&nbsp;</i>Customize Report</a></div>
            
        </div>
        <div class="col-md-1"></div>
        <div class=" col-md-1">
            <button class="btn btn-light mr-2" onclick="display()"><i class="fa fa-print"></i>Print</button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-light dropdown-toggle" type="button" id="exportDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class='fas fa-file-export'></i> Export
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="exportDropdown">
                <a class="dropdown-item" href="#" onclick="exportToPDF()">PDF</a>
                <a class="dropdown-item" href="#" onclick="exportToExcel()">XLS (Excel)</a>
            </div>
        </div>
    </div>
</div><br><br>


<div class="container-fluid">
    <div class="row" id="pdfdiv">
        <div class="text-center">
            <h4>{{company.company_name}}</h4> 
            <h3>Balance Sheet</h3> 
            <h6>Basis: Cash</h6> 
            <h5>As of 13 May 2017</h5> <br>
            <div class="table-responsive">
                <div class="container-fluid tableFixHead"> 
                    <table class="table">
                        <thead>
                            <tr>  
                                <th style="color: white; background-color: black; font-size: large;">Account </th>  
                                <th style="color: white; background-color: black; font-size: large;">Account Code </th> 
                                <th style="color: white; background-color: black; font-size: large; text-align: right;">13 May 2017</th> 
                            </tr>
                        </thead> 
                        <tbody> 
                            <tr> 
                                <td><span style="font-size: large;">ASSETS</span></td>
                            </tr>  
                            <tr>  
                                <td>Current Assets</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>  
                                <td>Bank</td> 
                                <td>&nbsp;</td>
                            </tr>  
                            <tr> 
                                <td><a href="#"> Bank Acc 1 </a> </td>
                                <td></td>
                                <td style="text-align: right;"> <a href="#"> -483.478,225 </a> </td> 
                            </tr>  
                            <tr> 
                                <td><a href="#"> Bank Of America </a> </td>
                                <td></td>
                                <td style="text-align: right;"> <a href="#"> 12.571,281 </a> </td> 
                            </tr>  
                            <tr> 
                                <td><a href="#"> Eur Bank Account </a> </td>
                                <td></td>
                                <td style="text-align: right;"> <a href="#"> 570,680 </a> </td> 
                            </tr>  
                            <tr> 
                                <td><a href="#"> New Acc 1 </a> </td>
                                <td></td>
                                <td style="text-align: right;"> <a href="#"> -8.758,890 </a> </td> 
                            </tr>  
                            <tr> 
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="allow-border" style="text-align: right;">  -479.095,154  </td> 
                            </tr> 
                            <tr>  
                                <td>Cash</td> 
                                <td>&nbsp;</td>
                            </tr>  
                            <tr> 
                                <td><a href="#"> Petty Cash </a> </td>
                                <td></td>
                                <td style="text-align: right;"> <a href="#"> -1.057.645,419 </a> </td> 
                            </tr>  
                            <tr> 
                                <td><a href="#"> Undeposited Funds </a> </td>
                                <td></td>
                                <td style="text-align: right;"> <a href="#"> -6.993,690 </a> </td> 
                            </tr>  
                            <tr> 
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td class="allow-border" style="text-align: right;">  -1.064.639,109  </td> 
                            </tr> 
                            <tr>  
                                <td>Other Current Assets</td> 
                                <td>&nbsp;</td></tr>  
                                <tr> 
                                    <td><a href="#"> Advance Tax </a> </td>
                                    <td></td>
                                    <td style="text-align: right;"> <a href="#"> 100,990 </a> </td> 
                                </tr>  
                                <tr> 
                                    <td><a href="#"> Employee Advance </a> </td>
                                    <td></td>
                                    <td style="text-align: right;"> <a href="#"> -891,951 </a> </td> 
                                </tr>  
                                <tr> 
                                    <td><a href="#"> Input VAT </a> </td>
                                    <td></td>
                                    <td style="text-align: right;"> <a href="#"> 16,670 </a> </td> 
                                </tr>  
                                <tr> 
                                    <td><a href="#"> Sales to Customers (Cash) </a> </td>
                                    <td></td>
                                    <td style="text-align: right;"> <a href="#"> 18.588,706 </a> </td> 
                                </tr>  
                                <tr> 
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td class="allow-border" style="text-align: right;">  17.814,415  </td> 
                                </tr> 
                                <tr>  
                                    <td>Other Assets</td> 
                                    <td>&nbsp;</td>
                                </tr>  
                                <tr> 
                                    <td><a href="#"> Error </a> </td>
                                    <td>Error</td>
                                    <td style="text-align: right;"> <a href="#"> -100,990 </a> </td> 
                                </tr>  
                                <tr> 
                                    <td><a href="#"> GoCardless Clearing </a> </td>
                                    <td></td>
                                    <td style="text-align: right;"> <a href="#"> 3,600 </a> </td> 
                                </tr>  
                                <tr> 
                                    <td><a href="#"> GoCardless Clearing - EUR </a> </td>
                                    <td></td>
                                    <td style="text-align: right;"> <a href="#"> 0,001 </a> </td>
                                </tr>  
                                <tr> 
                                    <td><a href="#"> GoCardless Clearing - GBP </a> </td>
                                    <td></td>
                                    <td style="text-align: right;"> <a href="#"> 0,000 </a> </td> 
                                </tr>  
                                <tr> 
                                    <td> <a href="#"> Inventory Asset </a> </td>
                                    <td></td>
                                    <td style="text-align: right;"><a href="#"> -10.502,000 </a> </td> 
                                </tr>  
                                <tr> 
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td style="text-align: right;" class="allow-border">  -10.599,389  </td> 
                                </tr>  
                                <tr> 
                                    <td class="allow-border"><b>Total Current Assets</b></td>
                                    <td class="allow-border">&nbsp;</td>
                                    <td style="text-align: right;" class="allow-border">-1.536.519,237  </td> 
                                </tr>  
                                <tr>  
                                    <td>Fixed Assets</td> 
                                    <td>&nbsp;</td>
                                </tr>  
                                <tr> 
                                    <td>  <a href="#"> Furniture and Equipment </a> </td>
                                    <td></td>
                                    <td style="text-align: right;"> <a href="#"> 5.197,890 </a> </td> 
                                </tr> 
                                <tr> 
                                    <td>  &nbsp;&nbsp;&nbsp;&nbsp;<a href="#"> Fun </a> </td>
                                    <td>12</td>
                                    <td style="text-align: right;"><a href="#"> 0,000 </a> </td> 
                                </tr> 
                                <tr> 
                                    <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#"> bugfix account </a> </td>
                                    <td>1200</td>
                                    <td style="text-align: right;"><a href="#"> 1.200,000 </a> </td> 
                                </tr> 
                                <tr> 
                                    <td class="allow-border"><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Total for Fun </strong> </td>
                                    <td class="allow-border">12</td>
                                    <td style="text-align: right;" class="allow-border"><a href="#">1.200,000</a> </td> 
                                </tr> 
                                <tr> 
                                    <td class="allow-border"><strong> &nbsp;&nbsp;&nbsp;&nbsp; Total for Furniture and Equipment </strong> </td>
                                    <td class="allow-border"></td>
                                    <td style="text-align: right;" class="allow-border"><a href="#">6.397,890</a> </td> 
                                </tr>  
                                <tr> 
                                    <td class="allow-border"><b>Total Fixed Assets</b></td>
                                    <td class="allow-border">&nbsp;</td>
                                    <td style="text-align: right;" class="allow-border">  6.397,890  </td> 
                                </tr>   
                                <tr> 
                                    <td>TOTAL ASSETS</td>
                                    <td>&nbsp;</td>
                                    <td  style="text-align: right;" class="allow-border">  -1.530.121,347  </td> 
                                </tr>
                                <tr> 
                                    <td><span style="font-size: large;">LIABILITIES &amp; EQUITIES</span></td> 
                                </tr>  
                                <tr>  
                                    <td>Current Liabilities</td> 
                                    <td>&nbsp;</td>
                                </tr>  
                                <tr> 
                                    <td><a href="#"> Employee Reimbursements </a> </td>
                                    <td></td>
                                    <td style="text-align: right;"><a href="#"> 4.724,000 </a> </td> 
                                </tr> 
                                <tr> 
                                    <td><a href="#"> HMRC-PAYE </a> </td>
                                    <td>5670</td>
                                    <td style="text-align: right;"><a href="#"> -200,000 </a> </td> 
                                </tr> 
                                <tr> 
                                    <td><a href="#"> Opening Balance Adjustments </a> </td>
                                    <td></td>
                                    <td style="text-align: right;"><a href="#"> 12.597,200 </a> </td> 
                                </tr> 
                                <tr> 
                                    <td><a href="#"> Output VAT </a> </td>
                                    <td></td>
                                    <td style="text-align: right;"><a href="#"> -9,200 </a> </td> 
                                </tr> 
                                <tr> 
                                    <td><a href="#"> Unearned Revenue </a> </td>
                                    <td></td>
                                    <td style="text-align: right;"><a href="#"> -21.330,000 </a> </td> 
                                </tr> 
                                <tr> 
                                    <td><a href="#"> VAT MOSS Payable </a> </td>
                                    <td></td>
                                    <td style="text-align: right;"><a href="#"> -16.687,180 </a> </td> 
                                </tr> 
                                <tr> 
                                    <td><a href="#"> VAT Payable </a> </td>
                                    <td></td>
                                    <td style="text-align: right;"><a href="#"> -67.545,420 </a> </td> 
                                </tr>  
                                <tr> 
                                    <td class="allow-border"><b>Total Current Liabilities</b></td>
                                    <td class="allow-border">&nbsp;</td>
                                    <td style="text-align: right;" class="allow-border">  -88.450,600  </td> 
                                </tr>  
                                <tr>  
                                    <td > Other Liabilities</td> 
                                    <td>&nbsp;</td>
                                </tr>  
                                <tr> 
                                    <td><a href="#"> Tag Adjustments </a> </td>
                                    <td></td>
                                    <td style="text-align: right;"><a href="#"> 0.00 </a> </td>
                                </tr>  
                                <tr> 
                                    <td class="allow-border"><b>Total Other Liabilities</b></td>
                                    <td class="allow-border">&nbsp;</td>
                                    <td style="text-align: right;" class="allow-border">  0.00  </td>
                                </tr>  
                                <tr>  
                                    <td>Equities</td><td>&nbsp;</td>
                                </tr>  
                                <tr> 
                                    <td>   <a href="#"> Current Year Earnings </a></td>
                                    <td></td>
                                    <td style="text-align: right;"> <a href="#"> -692.708,544 </a> </td>
                                </tr> 
                                <tr> 
                                    <td><a href="#"> Opening Balance Offset </a> </td>
                                    <td></td>
                                    <td style="text-align: right;"> <a href="#"> 143,000 </a> </td>
                                </tr> 
                                <tr> 
                                    <td><a href="#"> Owner's Equity </a> </td>
                                    <td></td>
                                    <td style="text-align: right;"> <a href="#"> 449,540 </a> </td>
                                </tr> 
                                <tr> 
                                    <td>  Retained Earnings  </td>
                                    <td></td>
                                    <td style="text-align: right;">  -749.554,743  </td>
                                </tr>  
                                <tr> 
                                    <td class="allow-border"><b>Total Equities</b></td>
                                    <td class="allow-border">&nbsp;</td>
                                    <td class="allow-border" style="text-align: right;">  -1.441.670,747  </td>
                                </tr>   
                                <tr> 
                                    <td>&nbsp;</td>
                                    <td>TOTAL LIABILITIES &amp; EQUITIES</td>
                                    <td style="text-align: right; border-bottom: 1pt double white;">  -1.530.121,347  </td>
                                </tr>
                            </tr>
                        </tbody>
                    </table>
                <div>
                <p>
                    <small>**Amount is displayed in your base currency</small>&nbsp;
                    <span class="badge text-semibold badge-success d-inline">INR</span>
                </p>
            </div> 
        </div>
    </div>
</div>
{% endblock %}